.fluent-title-layout {
    width: calc(100% - 1em);
    box-sizing: border-box;
}

.fluent-title-layout__header {
    padding: var(--lumo-space-s);
    box-sizing: border-box;
    width: 100%;
    align-items: baseline;
}

.fluent-title-layout__content {
    border-top: 1px solid #d9d9d9;
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

.fluent-title-layout__content:not(:last-child) {
    padding-bottom: var(--lumo-space-s);
}
