.fluent-title-layout {
    width: calc(100% - 1em);
}

.fluent-title-layout__header {
    width: 100%;
    padding: 0.5em;
}

.fluent-title-layout__content {
    border-top: 1px solid #d9d9d9;
    padding: 0.5em;
    width: 100%;
}

.fluent-title-layout__content:not(:last-child) {
    padding-bottom: 0.5em;
}