.tool-bar-left {
    align-items: baseline;
    flex-wrap: wrap;
    place-content: flex-start;
}

.tool-bar-middle {
    align-items: baseline;
    flex-wrap: wrap;
    place-content: center;
}

.tool-bar-right {
    align-items: baseline;
    flex-wrap: wrap;
    place-content: flex-end;
}

.tool-bar-left > *:not(:last-child) {
    margin-right: 0.5em;
}

.tool-bar-middle > *:not(:last-child) {
    margin-right: 0.5em;
}

.tool-bar-right > *:not(:first-child) {
    margin-left: 0.5em;
}
