.centered-content {
    margin: 0 auto;
    max-width: 250px;
}


.has-spacing-div-container {
    align-items: baseline;
}

.has-spacing-div-container:not(:last-child) {
    padding-right: 0.5em;
}

.has-spacing-div-container-r {
    align-items: baseline;
}

.has-spacing-div-container-r:not(:first-child) {
    padding-left: 0.5em;
}
