:host([theme~="pagination"]) {
    padding: 0 !important;
    height: 100%;
}

:host([theme~="pagination"]):focus {
    background-color: white !important;
}

:host([theme~="pagination"]) .vaadin-text-field-container {
    height: 100%;
}

:host([theme~="pagination"]) .pagination-page-size__normal.vaadin-text-field-container {
    height: 100%;
}

:host([theme~="pagination"]) .pagination-page-size__normal [part="input-field"] {
    height: 100%;
!important;
}

:host([theme~="pagination"]) [part="input-field"] {
    margin: auto 0;
    height: 100%;
    font-size: 14px;
    text-align: center !important;
    background-color: white !important;
    display: flex;
    border-radius: 2px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    padding: 0 11px;
}

:host([theme~="pagination"]) [part="clear-button"] {
    color: var(--text-color);
}

:host([theme~="pagination"]) [part="label"] {
    color: var(--text-color);
}

:host(:hover:not([readonly]):not([focused])) [part="label"] {
    color: var(--text-color);
}